.mobile-search {
  width: 100%;
}

.mobile-search-control {
  display: flex;
  border: 1px solid rgba(1, 1, 1, 0.8);
  align-items: center;
  padding: 0.8rem 1rem 0.8rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  width: 80%;
}

.mobile-search-control input {
  background-color: transparent;
  border: none;
  margin-left: 0.5rem;
}

.search-icon {
  color: #da7ff9;
}

@media (min-width: 750px) {
  .mobile-search {
    display: block;
  }

  .mobile-search-control {
  }
}
