.admin-upload-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Wendy One", sans-serif;
  z-index: 2;
}

.design-setup {
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 10px;
}

.design-setup-container {
  position: relative;
  width: 30em;
}

.design-setup-image {
  width: 30rem;
  height: 25rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.chosen-image {
  position: absolute;
  height: 112px;
  width: 112px;
  top: 0;
  left: 0;
}

.chosen-image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.select-design-btn {
  position: absolute;
  right: 3rem;
  top: 2rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  background-color: transparent !important;
  overflow: hidden;
}

.resizer {
  position: absolute;
  background-color: #e00070;
  border-radius: 10px;
  z-index: 2;
}

.r-right {
  left: 150px;
  top: 16px;
  width: 2px;
  height: 100px;
  cursor: e-resize;
}

.r-bottom {
  width: 115px;
  height: 2px;
  cursor: ns-resize;
}

.name-r {
  width: 2px;
  height: 85px;
  left: 5rem;
  top: 0px;
  cursor: e-resize;
}
.name-b {
  width: 5rem;
  height: 2px;
  left: 0;
  top: 77px;
  cursor: ns-resize;
}

.user-name {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding: 0.5rem;
  left: 0;
  top: 150px;
  width: 200px;
  height: 40px;
  z-index: 2;
}

.user-name p {
  margin-top: -0.5rem;
}

#file {
  display: none;
  cursor: pointer;
}

.file-btn {
  background-color: #e00070;
  color: #fff;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}

.image-positioning-form {
  border: 2px solid #e00070;
  padding: 1rem;
}

.image-form-control {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
}

.image-form-control label {
  color: #e00070;
}

.image-form-control input {
  border: 2px solid #e00070;
  border-radius: 5px;
  padding: 0.5rem;
}

.positioning-form {
  display: grid;
  grid-template-columns: 5rem 5rem 5rem 5rem;
  margin-top: 1rem;
}

.generate-submit {
  padding: 0.5rem;
  background-color: #e00070;
  color: #fff;
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 650px) {
  .design-setup {
    display: flex;
    align-items: center;
  }

  .design-setup-container {
    margin-right: 1em;
  }
}
