.homepage-hero {
  width: 100vw;
  position: fixed;
  top: 4rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Wendy One", sans-serif;
  z-index: 2;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0.5rem 0;
  padding: 2rem;
}

.rerha {
  font-size: 4rem;
  font-family: "Wendy One", sans-serif;
}

.homepage-hero .span-left {
  color: #da7ff9;
}
.homepage-hero .span-right {
  color: #fff;
  margin-left: -20px;
  background-color: #da7ff9;
}

.hero-content p {
  color: #000;
  text-align: center;
  font-size: 1rem;
  font-family: "Wendy One", sans-serif;
  margin: 2rem 0;
}

.homepage-hero button {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 0.5rem;
  color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #da7ff9;
}

@media (min-width: 650px) {
  .hompage-flex-1 {
    width: 50%;
  }

  .hompage-flex-2 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .span-right {
    background-color: transparent;
  }

  .search-btn {
    display: block;
  }

  .homepage-header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-btn {
    display: none;
  }
}
