.public-design-setup {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.design-discription-container {
  width: 100%;
  position: relative;
  margin-top: 4em;
  overflow: hidden;
}

.design-discription-heading-posted-user {
  display: flex;
  align-items: center;
  padding: 0.7em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 0.4em;
}

.design-discription-heading-posted-user img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.design-discription-heading-posted-user > div {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  gap: 0;
}

.design-discription-img {
  background-image: url(../../image/image-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 10em;
  width: 100%;
}

.design-discription-content p {
  /* text-align: center; */
  padding: 0.5em 0;
}

.design-discription-content {
  width: 100%;
  background-color: #fff;
  z-index: 4;
  padding: 2em 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.design-discription-time-container {
  display: flex;
  align-items: center;
}
.design-discription-time-container > div {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.design-discription-view {
  display: flex;
  align-items: center;
}
.design-discription-view > div {
  display: flex;
  align-items: center;
  margin-right: 2em;
}

.screen-Shot {
  width: 1px;
  height: 1px;
  overflow: scroll;
}

.selfie-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 4rem;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 1);
}

.design-image-setup {
  width: 100%;
  margin: 3rem 0 0 0;
  position: relative;
}
.selected-image {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.public-positioning-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.take-sefie-and-download-container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1rem;
  margin-left: 1rem;
}

#image {
  display: none;
}

.form-input {
  margin: 0.5rem 0;
}

.form-input input {
  padding: 0.2rem;
  width: 100%;
  border: 2px solid #e00070;
  border-radius: 5px;
}

.other-option-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}

.sefie-btn {
  color: #fff;
  background-color: #e00070;
}

.download-btn {
  border: 2px solid #e00070;
  color: #e00070;
  margin-top: 1rem;
}

.magnifier-controller {
  position: fixed;
  top: 4rem;
  left: 50%;
  z-index: 4;
  background-color: black;
  width: 100%;
  margin: auto;
  transform: translateX(-50%);
  height: 100vh;
  padding: 0 1em;
  display: flex;
  justify-content: center;
}

.magnified-confirmation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.9);
}

.magnified-confirmation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
}

.view-magnified-image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin: 1em;
}

.magnified-confirmation-confirmation-btn-container {
  display: flex;
  margin: 1em 0;
}

@media (min-width: 750px) {
  .public-design-setup {
    flex-direction: row;
    align-items: center;

    justify-content: center;
  }
  .public-design-setup-child {
    flex-direction: row;
  }

  .take-sefie-and-download-container {
    bottom: -5rem;
    right: 2rem;
  }

  .design-image-setup  {
    width: 30em;
  }
  
}
